<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/dracula.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/custom.css">

    </head>
    <body>
      <header>
        <nav>
          <a href="/index.html">Home</a>
          <a href="/about.html">About me</a>
        </nav>
        <h1>Useless Blog</h1>
        <p>...or things I write down before I forget them</p>
      </header>

      {{ content }}
      <footer>

        Copyright © 2023 Laurent Stacul
      </footer>
    </body>
</html>
